[Unit]
Description=Download Tectonic Assets
ConditionPathExists=!/opt/init_assets.done
Before=bootkube.service k8s-node-bootstrap.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt

User=root
Group=root

ExecStart=/usr/bin/bash /opt/init-assets.sh
ExecStartPost=/bin/touch /opt/init_assets.done

[Install]
WantedBy=multi-user.target
RequiredBy=bootkube.service k8s-node-bootstrap.service
