[Unit]
Description=Kubelet via Hyperkube ACI
Wants=rpc-statd.service
[Service]
Environment="KUBELET_IMAGE_URL=docker://${kubelet_image_url}"
Environment="KUBELET_IMAGE_TAG=${kubelet_image_tag}"
Environment="KUBELET_IMAGE_ARGS=--exec=/usr/bin/hyperkube"
Environment="RKT_RUN_ARGS=--debug --uuid-file-save=/var/cache/kubelet-pod.uuid \
  --volume=resolv,kind=host,source=/etc/resolv.conf \
  --mount volume=resolv,target=/etc/resolv.conf \
  --volume var-lib-cni,kind=host,source=/var/lib/cni \
  --mount volume=var-lib-cni,target=/var/lib/cni \
  --volume var-lib-kubelet,kind=host,source=/var/lib/kubelet \
  --mount volume=var-lib-kubelet,target=/var/lib/kubelet \
  --volume var-log,kind=host,source=/var/log \
  --mount volume=var-log,target=/var/log \
  --insecure-options=image"

ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /srv/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /etc/kubernetes/checkpoint-secrets
ExecStartPre=/bin/mkdir -p /etc/kubernetes/cni/net.d
ExecStartPre=/bin/mkdir -p /var/lib/cni
ExecStartPre=/bin/mkdir -p /var/lib/kubelet/pki
ExecStartPre=/usr/bin/bash -c "grep 'certificate-authority-data' /etc/kubernetes/kubeconfig | awk '{print $2}' | base64 -d > /etc/kubernetes/ca.crt"
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/cache/kubelet-pod.uuid

ExecStart=/usr/lib/coreos/kubelet-wrapper \
  kubelet \
  --allow-privileged \
  --anonymous-auth=false \
  --cert-dir=/var/lib/kubelet/pki \
  --client-ca-file=/etc/kubernetes/ca.crt \
  --cloud-provider=${cloud_provider} \
  --cluster-dns=${cluster_dns_ip} \
  --cluster-domain=cluster.local \
  --cni-bin-dir=/var/lib/cni/bin \
  --cni-conf-dir=/etc/kubernetes/cni/net.d \
  --exit-on-lock-contention \
  --bootstrap-kubeconfig=/etc/kubernetes/kubeconfig \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --lock-file=/var/run/lock/kubelet.lock \
  --minimum-container-ttl-duration=6m0s \
  --network-plugin=cni \
  --node-labels=${node_label} \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --rotate-certificates \
  ${cloud_provider_config} \
  ${debug_config} \
  ${node_taints_param}

ExecStop=-/usr/bin/rkt stop --uuid-file=/var/cache/kubelet-pod.uuid

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
