[Unit]
Description=Kubernetes Kubelet
Wants=rpc-statd.service

[Service]
ExecStartPre=/bin/mkdir --parents /etc/kubernetes/manifests
ExecStartPre=/bin/mkdir --parents /etc/kubernetes/checkpoint-secrets
ExecStartPre=/bin/mkdir --parents /etc/kubernetes/cni/net.d
ExecStartPre=/bin/mkdir --parents /run/kubelet
ExecStartPre=/bin/mkdir --parents /var/lib/cni
ExecStartPre=/bin/mkdir --parents /var/lib/kubelet/pki

ExecStartPre=/usr/bin/bash -c "gawk '/certificate-authority-data/ {print $2}' /etc/kubernetes/kubeconfig | base64 --decode > /etc/kubernetes/ca.crt"

ExecStart=/usr/bin/docker \
  run \
    --rm \
    --net host \
    --pid host \
    --privileged \
    --volume /dev:/dev:rw \
    --volume /sys:/sys:ro \
    --volume /var/run:/var/run:rw \
    --volume /var/lib/cni/:/var/lib/cni:rw \
    --volume /var/lib/docker/:/var/lib/docker:rw \
    --volume /var/lib/kubelet/:/var/lib/kubelet:shared \
    --volume /var/log:/var/log:shared \
    --volume /etc/kubernetes:/etc/kubernetes:ro \
    --entrypoint /usr/bin/hyperkube \
  "${kubelet_image_url}:${kubelet_image_tag}" \
    kubelet \
      --bootstrap-kubeconfig=/etc/kubernetes/kubeconfig \
      --kubeconfig=/var/lib/kubelet/kubeconfig \
      --rotate-certificates \
      --cni-conf-dir=/etc/kubernetes/cni/net.d \
      --cni-bin-dir=/var/lib/cni/bin \
      --network-plugin=cni \
      --lock-file=/var/run/lock/kubelet.lock \
      --exit-on-lock-contention \
      --pod-manifest-path=/etc/kubernetes/manifests \
      --allow-privileged \
      --node-labels=${node_label} \
      --minimum-container-ttl-duration=6m0s \
      --cluster-dns=${cluster_dns_ip} \
      --cluster-domain=cluster.local \
      --client-ca-file=/etc/kubernetes/ca.crt \
      --cloud-provider=${cloud_provider} \
      --anonymous-auth=false \
      ${cloud_provider_config} \
      ${debug_config} \
      ${node_taints_param} \

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
