[Unit]
Description=Kubernetes Kubelet
Wants=rpc-statd.service
Requires=docker.service kubelet-workaround.service
After=docker.service kubelet-workaround.service

[Service]
EnvironmentFile=-/etc/kubernetes/kubelet-workaround

ExecStartPre=/usr/bin/bash -c "gawk '/certificate-authority-data/ {print $2}' /etc/kubernetes/kubeconfig | base64 --decode > /etc/kubernetes/ca.crt"

ExecStart=/usr/bin/hyperkube \
    kubelet \
      --bootstrap-kubeconfig=/etc/kubernetes/kubeconfig \
      --kubeconfig=/var/lib/kubelet/kubeconfig \
      --rotate-certificates \
      --cni-conf-dir=/etc/kubernetes/cni/net.d \
      --cni-bin-dir=/var/lib/cni/bin \
      --network-plugin=cni \
      --lock-file=/var/run/lock/kubelet.lock \
      --exit-on-lock-contention \
      --pod-manifest-path=/etc/kubernetes/manifests \
      --allow-privileged \
      --node-labels=${node_label} \
      --minimum-container-ttl-duration=6m0s \
      --cluster-dns=${cluster_dns_ip} \
      --cluster-domain=cluster.local \
      --client-ca-file=/etc/kubernetes/ca.crt \
      --cloud-provider=${cloud_provider} \
      --anonymous-auth=false \
      ${cloud_provider_config} \
      ${debug_config} \
      ${node_taints_param} \
      $$CGROUP_DRIVER_FLAG \

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
