[Unit]
Description=Clean up install assets from S3
ConditionPathExists=!/opt/tectonic/init_rm_assets.done
After=bootkube.service tectonic.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt

User=root
Group=root

ExecStartPre=/usr/bin/bash /opt/rm-assets.sh
ExecStart=/usr/bin/echo "cleaned up installation assets"
ExecStartPost=/bin/touch /opt/tectonic/init_rm_assets.done

[Install]
WantedBy=multi-user.target
