[Unit]
Description=Clean up install assets from S3
ConditionPathExists=/opt/tectonic
Requires=tectonic.service
After=bootkube.service tectonic.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt

User=root
Group=root

ExecStartPre=/usr/bin/bash /opt/tectonic/rm-assets.sh
ExecStart=/usr/bin/echo "cleaned up installation assets"

[Install]
WantedBy=multi-user.target
