# If NODE_ZERO_IP is changed, additional files need to be updated
# before starting up the agent-based installer services:
# 
# In /usr/local/share/assisted-service/assisted-service.env,
# IMAGE_SERVICE_BASE_URL and SERVICE_BASE_URL must be updated.
#
# In /usr/local/share/assisted-service/images.env,
# ASSISTED_SERVICE_HOST must be updated.
#   
NODE_ZERO_IP={{.NodeZeroIP}}
LD_LIBRARY_PATH=/usr/local/bin/
RELEASE_IMAGE={{.ReleaseImage}}
AGENT_TUI_LOG_PATH=/var/log/agent/agent-tui.log
