[Unit]
Before=network.target
Description=Turn off TX checksum offloading

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ethtool --offload eth0 tx off

[Install]
RequiredBy=network.target
