[Unit]
Description=Bootstrap a Tectonic cluster
Requires=bootkube.service
After=bootkube.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/tectonic/tectonic

ExecStart=/opt/tectonic/tectonic.sh /opt/tectonic/auth/kubeconfig

[Install]
WantedBy=multi-user.target
