[Unit]
Description=Bootstrap a Tectonic cluster
Wants=bootkube.service
After=bootkube.service

[Service]
RemainAfterExit=true
WorkingDirectory=/opt/tectonic/tectonic

ExecStart=/opt/tectonic/tectonic.sh /opt/tectonic/auth/kubeconfig

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
