ASSISTED_SERVICE_HOST=localhost:8090
ASSISTED_SERVICE_SCHEME={{.ServiceProtocol}}
# TODO: temporary to test on specific version
OS_IMAGES=[{"openshift_version":"{{.OSImage.OpenshiftVersion}}","cpu_architecture":"{{.OSImage.CPUArchitecture}}","url":"{{.OSImage.URL}}","version":"{{.OSImage.Version}}"},{"openshift_version":"4.15.0-rc.2","cpu_architecture":"x86_64","url":"https://rhcos.mirror.openshift.com/art/storage/prod/streams/4.14-9.2/builds/414.92.202307070025-0/x86_64/rhcos-414.92.202307070025-0-live.x86_64.iso","version":"414.92.202307070025-0"}]
