ASSISTED_SERVICE_HOST=localhost:8090
ASSISTED_SERVICE_SCHEME={{.ServiceProtocol}}
OS_IMAGES=[{"openshift_version":"{{.OSImage.OpenshiftVersion}}","cpu_architecture":"{{.OSImage.CPUArchitecture}}","url":"{{.OSImage.URL}}","version":"{{.OSImage.Version}}"}]
