{
  "apiVersion": "coreos.com/v1",
  "kind": "ChannelOperatorConfig",
  "metadata":{
    "name": "default",
    "namespace": "tectonic-system"
  },
  "server": "{{.Server}}",
  "channel": "{{.Channel}}",
  "appID": "{{.AppID}}",
  "automaticUpdate": false,
  "triggerUpdate": false,
  "triggerUpdateCheck": false,
  "updateCheckInterval": 2700
}
