{{if .Proxy -}}
[Manager]
{{if .Proxy.HTTPProxy -}}
DefaultEnvironment=HTTP_PROXY="{{.Proxy.HTTPProxy}}"
{{end -}}
{{if .Proxy.HTTPSProxy -}}
DefaultEnvironment=HTTPS_PROXY="{{.Proxy.HTTPSProxy}}"
{{end -}}
{{if .Proxy.NoProxy -}}
DefaultEnvironment=NO_PROXY="{{.Proxy.NoProxy}}"
{{end -}}
{{end -}}