*.aci
.terraform
.terraformrc
config.tfvars
id_rsa*
pull-secret.json
ssh-key.pem
tectonic-*.tar.gz
tectonic-license.txt
terraform.tfstate*
terraform.tfvars
bin/
bin_test/
matchbox/
/contrib/govcloud/vpn.conf
tectonic-dev

# Bazel
.build/
bazel-bin
bazel-out
bazel-genfiles
bazel-testlogs
bazel-tectonic-installer
.cache

# RSpec
spec/examples.txt
