*.aci
.terraform
.terraformrc
config.tfvars
id_rsa*
pull-secret.json
ssh-key.pem
tectonic-*.tar.gz
tectonic-license.txt
terraform.tfstate*
terraform.tfvars
build/
bin/
bin_test/
matchbox/
modules/update-payload/generated/
/contrib/govcloud/vpn.conf

# Bazel
bazel-bin
bazel-out
bazel-genfiles
bazel-testlogs
bazel-tectonic-installer
.cache
