---
storage:
  files:
    - filesystem: root
      path: /opt/ec2_tags.sh
      mode: 0555
      contents:
        inline: |
          #!/bin/bash
          REGION=$(wget -q -O - http://169.254.169.254/latest/meta-data/placement/availability-zone | sed s'/[a-zA-Z]$//')
          INSTANCE_ID=$(wget -qO- http://169.254.169.254/latest/meta-data/instance-id)
          aws --region ${REGION} ec2 describe-tags --filters "Name=resource-id,Values=${INSTANCE_ID}" | jq -r '.Tags[] | [.Key,.Value] | join("=")' | awk -F= -v OFS='=' '{gsub("[^a-zA-Z]", "_", $1)} {$1=toupper($1)} 1'
systemd:
  units:
    - name: ec2-tags.service
      enable: true
      contents: |
        [Unit]
        Description=Export Tags of the EC2 instance to file
        [Service]
        Type=oneshot
        ExecStartPre=/usr/bin/mkdir -p /run/metadata
        ExecStart=/usr/bin/rkt run \
          --volume=metadata,kind=host,source=/run/metadata,readOnly=false \
          --mount=volume=metadata,target=/run/metadata \
          --volume=opt,kind=host,source=/opt,readOnly=false \
          --mount=volume=opt,target=/opt \
          --uuid-file-save=/var/run/coreos/ec2-tags.uuid \
          --dns=host --net=host \
          --trust-keys-from-https \
          quay.io/coreos/awscli:025a357f05242fdad6a81e8a6b520098aa65a600 \
          --exec=/bin/bash -- -c '/opt/ec2_tags.sh > /run/metadata/ec2_tags'
        ExecStartPost=/usr/bin/rkt rm --uuid-file=/var/run/coreos/ec2-tags.uuid
    - name: etcd-member.service
      enable: true
      dropins:
        - name: 40-etcd-cluster.conf
          contents: |
            [Unit]
            Requires=coreos-metadata.service
            After=coreos-metadata.service
            Requires=ec2-tags.service
            After=ec2-tags.service
            [Service]
            EnvironmentFile=/run/metadata/coreos
            EnvironmentFile=/run/metadata/ec2_tags
            Environment="ETCD_IMAGE_TAG=v3.1.2"
            ExecStart=
            ExecStart=/usr/lib/coreos/etcd-wrapper \
              --name=${ETCDNAME} \
              --advertise-client-urls=http://${COREOS_EC2_IPV4_LOCAL}:2379 \
              --initial-advertise-peer-urls=http://${COREOS_EC2_IPV4_LOCAL}:2380 \
              --listen-client-urls=http://0.0.0.0:2379 \
              --listen-peer-urls=http://0.0.0.0:2380 \
              --initial-cluster={{.ETCDInitialCluster}}
    - name: locksmithd.service
      dropins:
        - name: 40-etcd-lock.conf
          contents: |
            [Service]
            Environment="REBOOT_STRATEGY=etcd-lock"

