[Unit]
Description=Extract Machine OS Images
BindsTo=ironic-volume.service
Requires=build-ironic-env.service
Wants=crio.service
After=crio.service build-ironic-env.service ironic-volume.service
# Do not restart network interface while running
After=provisioning-interface.service
# The rootfs file must be created before the httpd container is started
# otherwise the kernel params in inspector.ipxe will not be set correctly
Before=ironic-httpd.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/ironic.env
ExecStart=/usr/local/bin/extract-machine-os.sh %t/%N.cid
TimeoutStartSec=20m
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%N.cid
ExecStopPost=/usr/bin/podman rm --ignore --cidfile=%t/%N.cid
ExecStopPost=-/bin/rm -f %t/%N.cid
KillMode=none
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
