[Unit]
Description=Baremetal Deployment Ironic Services
Requires=release-image.service
Wants=network-online.target crio.service
After=network-online.target crio.service release-image.service

[Service]
ExecStart=/usr/local/bin/startironic.sh
ExecStop=/usr/local/bin/stopironic.sh
RemainAfterExit=yes

Restart=on-failure
RestartSec=10
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
