[Unit]
Description=Baremetal Deployment Ironic Services
Requires=build-ironic-env.service
Wants=network-online.target crio.service
After=network-online.target crio.service build-ironic-env.service

[Service]
EnvironmentFile=/etc/ironic.env
ExecStart=/usr/local/bin/startironic.sh
ExecStop=/usr/local/bin/stopironic.sh
RemainAfterExit=yes

Restart=on-failure
RestartSec=10
# Used in startironic.sh to indicate a fatal failure
RestartPreventExitStatus=42
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
