[Unit]
Description=Update master BareMetalHosts with introspection data
Wants=bootkube.service
After=release-image.service
Before=progress.service

[Service]
Type=oneshot
# FIXME https://github.com/systemd/systemd/pull/13754/
# Doesn't yet exist in our systemd version, when it does
# we can replace the loop with Restart=on-failure
ExecStart=/usr/bin/sh -c 'while ! /usr/local/bin/master-bmh-update.sh; do echo "master-bmh-update.sh failed, retrying" && sleep 10; done'

[Install]
WantedBy=multi-user.target
