apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-config-v1
  namespace: tectonic-ingress
data:
  ingress-config: |
    apiVersion: v1
    kind: TectonicIngressOperatorConfig
    type: ${ingress_kind}
    statsPassword: ${ingress_status_password}
    statsUsername: admin
