{
  "presets": ["es2015", "react"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    [
      "git-version",
      {
        "showDirty": true,
        "commitLength": 7
      }
    ]
  ]
}

