{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
 },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
  ],
  "globals": {
    "GIT_COMMIT": false,
    "GIT_RELEASE_TAG": false,
    "GIT_TAG": false,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": 2017,
    "sourceType": "module",
  },
  "plugins": [
    "react",
  ],
  "rules": {
    "arrow-spacing": 2,
    "brace-style": 2,
    "comma-dangle": [2 , "always-multiline"],
    "consistent-this": [1, "that"],
    "curly": 2,
    "default-case": 1,
    "dot-notation": 1,
    "eol-last": [2, "unix"],
    "eqeqeq": 2,
    "guard-for-in": 2,
    "import/no-unresolved": 2,
    "indent": [2, 2],
    "jsx-quotes": 2,
    "key-spacing": 2,
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "max-nested-callbacks": [1, 3],
    "no-alert": 1,
    "no-caller": 2,
    "no-console": 0,
    "no-debugger": 1,
    "no-else-return": 2,
    "no-eval": 2,
    "no-lone-blocks": 2,
    "no-multi-spaces": 2,
    "no-nested-ternary": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-shadow": 1,
    "no-sync": 1,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 1,
    "no-useless-call": 2,
    "no-var": 2,
    "no-void": 2,
    "no-whitespace-before-property": 2,
    "no-with": 2,
    "prefer-const": 2,
    "quotes": [2, "single", {"avoidEscape": true}],
    "radix": 2,
    "react/jsx-curly-spacing": [2, {"children": true}],
    "react/jsx-equals-spacing": 2,
    "react/jsx-indent": [2, 2],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-target-blank": 0,
    "react/jsx-tag-spacing": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-unescaped-entities": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 0,
    "react/self-closing-comp": [2, {"component": true, "html": false}],
    "semi": 2,
    "space-infix-ops": 2,
    "strict": [2, "never"],
    "template-curly-spacing": 2,
    "wrap-iife": [2, "inside"],
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {"node": {"extensions": [".js", ".jsx"]}},
  },
}
