apiVersion: v1
kind: Secret
metadata:
  name: service-serving-cert-signer-signing-key
  namespace: openshift-service-cert-signer
type: kubernetes.io/tls
data:
  tls.crt: {{.Cert | base64}}
  tls.key: {{.Key | base64}}
