[Unit]
Description=Download Tectonic Assets
ConditionPathExists=!/opt/tectonic/init_assets.done
Before=bootkube.service kubelet-env.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/tectonic

User=root
Group=root

ExecStart=/usr/bin/bash /opt/tectonic/init-assets.sh
ExecStartPost=/bin/touch /opt/tectonic/init_assets.done

[Install]
WantedBy=multi-user.target
RequiredBy=bootkube.service kubelet-env.service
