apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: tectonic-ingress
  namespace: tectonic-system
  annotations:
    kubernetes.io/ingress.class: "tectonic"
    ingress.kubernetes.io/ssl-redirect: "true"
    ingress.kubernetes.io/use-port-in-redirects: "true"
spec:
  tls:
    - secretName: tectonic-tls-secret
      hosts:
        - {{.TectonicDomain}}
  rules:
    - host: {{.TectonicDomain}}
      http:
        paths:
        - path: /
          backend:
            serviceName: tectonic-console
            servicePort: 80
        - path: /identity
          backend:
            serviceName: tectonic-identity
            servicePort: 5556
