clouds:
  metal3-bootstrap:
    auth_type: http_basic
    username: {{.PlatformData.BareMetal.IronicUsername}}
    password: {{.PlatformData.BareMetal.IronicPassword}}
    baremetal_endpoint_override: {{ .PlatformData.BareMetal.BaremetalEndpointOverride }}
    baremetal_introspection_endpoint_override: {{ .PlatformData.BareMetal.BaremetalIntrospectionEndpointOverride }}
