PROV_IP_FAMILY={{ if .PlatformData.BareMetal.ProvisioningIPv6 }}ip6{{ else }}ip4{{ end }}
{{ if not .UseDualForNodeIP }}
EXTERNAL_IP_FAMILY={{ if .UseIPv6ForNodeIP }}ip6{{ else }}ip4{{ end }}
{{ end }}
