AUTH_DIR=/opt/metal3/auth
IRONIC_ENDPOINT="https://{{.PlatformData.BareMetal.IronicUsername}}:{{.PlatformData.BareMetal.IronicPassword}}@localhost:6385/v1"
IRONIC_EXTERNAL_URL_V6="{{.PlatformData.BareMetal.ExternalURLv6}}"
