{{ range $r := .Registries -}}
[[registry]]
location = "{{ $r.Endpoint.Location }}"
insecure = {{ $r.Endpoint.Insecure }}
mirror-by-digest-only = {{ $r.MirrorByDigestOnly }}
blocked = {{ $r.Blocked }}

{{ range $m := $r.Mirrors -}}
[[registry.mirror]]
location = "{{ $m.Location }}"
insecure = {{ $m.Insecure }}
{{ end }}

{{ end -}}
