[Unit]
Description=Bootstrap a Kubernetes cluster
Wants=kubelet.service
After=kubelet.service
ConditionPathExists=!/opt/tectonic/.bootkube.done

[Service]
WorkingDirectory=/opt/tectonic
ExecStart=/usr/local/bin/bootkube.sh

Restart=on-failure
RestartSec=5s
