[Unit]
Description=Bootstrap a Kubernetes cluster
Requires=crio-configure.service
Wants=kubelet.service
After=kubelet.service crio-configure.service
{{if .IsOKD -}}
ConditionPathExists=/opt/openshift/.pivot-done
{{end -}}
ConditionPathExists=!/opt/openshift/.bootkube.done

[Service]
WorkingDirectory=/opt/openshift
ExecStart=/usr/local/bin/bootkube.sh

Restart=on-failure
RestartSec=5s
