[Unit]
Description=Bootstrap an OpenShift cluster
Wants=bootkube.service
After=bootkube.service
ConditionPathExists=!/opt/openshift/.openshift.done

[Service]
WorkingDirectory=/opt/openshift/openshift
ExecStart=/usr/local/bin/openshift.sh /opt/openshift/auth/kubeconfig

Restart=on-failure
RestartSec=5s
