[Unit]
Description=Bootstrap a Tectonic cluster
Wants=bootkube.service
After=bootkube.service
ConditionPathExists=!/opt/tectonic/.tectonic.done

[Service]
WorkingDirectory=/opt/tectonic/tectonic
ExecStart=/usr/local/bin/tectonic.sh /opt/tectonic/auth/kubeconfig

Restart=on-failure
RestartSec=5s
