{
  "apiVersion": "v1",
  "kind": "Secret",
  "type": "kubernetes.io/{{.DockercfgFormat}}",
  "metadata": {
    "namespace": "tectonic-system",
    "name": "coreos-pull-secret"
  },
  "data": {
    ".{{.DockercfgFormat}}": "{{.Dockercfg}}"
  }
}
