kind: ConfigMap
apiVersion: v1
metadata:
  name: tectonic-identity
  namespace: tectonic-system
data:
  # The following three fields are used in the console deployment.
  issuer: {{ .Issuer }}
  consoleSecret: {{ .ConsoleSecret }}
  kubectlSecret: {{ .KubectlSecret }}
  config.yaml: |
    issuer: {{ .Issuer }}
    storage:
      type: kubernetes
      config:
        inCluster: true
    web:
      http: 0.0.0.0:5556
    grpc:
      addr: 0.0.0.0:5557
      tlsCert: /etc/tectonic-identity-grpc-server-secret/tls-cert
      tlsKey: /etc/tectonic-identity-grpc-server-secret/tls-key
      tlsClientCA: /etc/tectonic-identity-grpc-server-secret/ca-cert

    frontend:
      theme: 'tectonic'
      issuer: 'Tectonic Identity'
    oauth2:
      skipApprovalScreen: true
    staticClients:
    - id: tectonic-console
      redirectURIs:
      - '{{ .ConsoleCallback }}'
      name: 'Tectonic Console'
      secret: {{ .ConsoleSecret }}
    - id: tectonic-kubectl
      public: true
      trustedPeers:
      - tectonic-console
      name: 'Kubectl'
      secret: {{ .KubectlSecret }}
    enablePasswordDB: true
    staticPasswords:
    - email: "{{ .AdminEmail }}"
      hash: "{{ .AdminPasswordHash }}"
      username: "admin"
      userID: "{{ .AdminUserID }}"

