<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/frontend/lib/mochi/mochi.css">
    <link rel="stylesheet" href="/frontend/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/frontend/css/styles.css">
    <link rel="shortcut icon" href="/frontend/lib/mochi/img/favicon/tectonic/favicon-96x96.png">
    <title>Tectonic Installer</title>
    <script type="text/javascript">
      window.config = {{ .Config }}
    </script>
  </head>
  <body class="theme-tectonic-light application-root">
    <div id="tectonic-modal"></div>
    <div id="application"></div>
    <script src="/frontend/scripts/app-bundle.js"></script>
  </body>
</html>
