[Unit]
Requires=run-ephemeral.mount
After=run-ephemeral.mount
ConditionPathExists=/run/ostree-live

[Mount]
What=tmpfs
Where=/var/ostreecontainer
Type=tmpfs
Options=size=5G
