[Unit]
Description=Approve CSRs during bootstrap phase
Wants=bootkube.service
After=bootkube.service

[Service]
ExecStart=/usr/local/bin/approve-csr.sh /opt/openshift/auth/kubeconfig-loopback

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
