apiVersion: v1
baseDomain: FixMeYourBaseDomain
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 3
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: gw
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  azure:
    baseDomainResourceGroupName: FixMeYourResourceGroupName
    region: FixMeYourRegion
pullSecret: 'FixMeYourPullSecret'
sshKey: |
  FixMeYourSSH Key
