[Unit]
Description=Ironic Inspector
BindsTo=ironic-volume.service ironic.service
Requires=build-ironic-env.service wait-iptables-init.service
Wants=network-online.target
After=network-online.target ironic-volume.service build-ironic-env.service provisioning-interface.service wait-iptables-init.service ironic.service

[Container]
ContainerName=ironic-inspector
Image=$IRONIC_IMAGE
Exec=/bin/runironic-inspector
Network=host
Volume=${AUTH_DIR}:/auth:z,ro
Volume=ironic.volume:/shared:z
Environment="PROVISIONING_INTERFACE=${PROVISIONING_INTERFACE}"
Environment="IRONIC_HTPASSWD=${IRONIC_HTPASSWD}"
Environment="INSPECTOR_HTPASSWD=${IRONIC_HTPASSWD}"
Environment="IRONIC_KERNEL_PARAMS=${IRONIC_KERNEL_PARAMS}"
Environment="HTTP_PORT=${HTTP_PORT}"

[Service]
EnvironmentFile=/etc/ironic.env
# Add firewall rules to ensure the IPA ramdisk can reach ironic-inspector
ExecStartPre=/usr/local/bin/prov-iptables.sh --enable-port 5050
ExecStopPost=/usr/local/bin/prov-iptables.sh --disable-port 5050
Restart=on-failure

[Install]
WantedBy=multi-user.target
