[Unit]
Description=DHCP Service for Provisioning Network
BindsTo=ironic-volume.service
Requires=build-ironic-env.service provisioning-interface.service
PartOf=ironic.service
Wants=network-online.target wait-iptables-init.service
After=network-online.target ironic-volume.service build-ironic-env.service provisioning-interface.service wait-iptables-init.service

[Container]
ContainerName=dnsmasq
Image=$IRONIC_IMAGE
Exec=/bin/rundnsmasq
Network=host
AddCapability=NET_ADMIN NET_RAW NET_BIND_SERVICE
Volume=ironic.volume:/shared:z
Environment="PROVISIONING_INTERFACE=${PROVISIONING_INTERFACE}"
Environment="DHCP_RANGE=${DHCP_RANGE}"
Environment="HTTP_PORT=${HTTP_PORT}"

[Service]
EnvironmentFile=/etc/ironic.env
ExecStartPre=/usr/local/bin/dhcp-filter.sh install
ExecStopPost=/usr/local/bin/dhcp-filter.sh remove
Restart=on-failure

[Install]
