[Unit]
Description=Metal3 deployment service
BindsTo=ironic-volume.service
Requires=build-metal3-env.service wait-iptables-init.service image-customization.service build-ironic-env.service
Wants=network-online.target ironic-httpd.service ironic-ramdisk-logs.service
After=network-online.target ironic-volume.service build-ironic-env.service image-customization.service build-metal3-env.service

[Container]
ContainerName=baremetal-operator
Image=$METAL3_BAREMETAL_OPERATOR_IMAGE
Exec=/baremetal-operator -build-preprov-image -webhook-port 0 -enable-leader-election -namespace openshift-machine-api
Network=host
Volume=${AUTH_DIR}:/auth:z,ro
Volume=/opt/openshift:/opt/openshift:z,ro
Volume=/opt/openshift/tls/ironic/:/certs/ironic/:z
Environment="XDG_RUNTIME_DIR=/run/user/${UID}"
Environment="KUBECONFIG=/opt/openshift/auth/kubeconfig-loopback"
Environment="DEPLOY_KERNEL_URL=file:///shared/html/images/ironic-python-agent.kernel"
Environment="IRONIC_KERNEL_PARAMS=${IRONIC_KERNEL_PARAMS}"
Environment="HTTP_PORT=${HTTP_PORT}"
Environment="IRONIC_ENDPOINT=${IRONIC_ENDPOINT}"
Environment="IRONIC_EXTERNAL_URL_V6=${IRONIC_EXTERNAL_URL_V6}"
Environment="LEASE_DURATION_SECONDS=137"
Environment="RENEW_DEADLINE_SECONDS=107"
Environment="RETRY_PERIOD_SECONDS=26"
Environment="IRONIC_INSECURE=true"

[Service]
EnvironmentFile=/etc/metal3.env
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
