[Unit]
Description=haproxy
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/bin/podman kill haproxy
ExecStartPre=-/bin/podman rm haproxy
ExecStartPre=/bin/podman pull quay.io/openshift/origin-haproxy-router
ExecStart=/bin/podman run --name haproxy \
  --net=host \
  --privileged \
  --entrypoint=/usr/sbin/haproxy \
  -v /etc/haproxy/haproxy.conf:/var/lib/haproxy/conf/haproxy.conf:Z \
  quay.io/openshift/origin-haproxy-router -f /var/lib/haproxy/conf/haproxy.conf

[Install]
WantedBy=multi-user.target

