[Unit]
Description=Openvpn
[Service]
TimeoutStartSec=5min
Environment="OVPN_DATA=/home/core/basic-data"
Environment="CLIENT=CI"
Environment="IMG=${openvpn_image}"
Environment="CLIENT_DIR=/home/core/vpn-config"
Environment="SERV_IP=${ip}"

ExecStartPre=/bin/mkdir -p $${CLIENT_DIR}
ExecStartPre=/bin/sh -c '/usr/bin/docker run -v $${OVPN_DATA}:/etc/openvpn --rm $${IMG} ovpn_genconfig -u udp://$${SERV_IP}'
ExecStartPre=/bin/sh -c '/usr/bin/docker run -v $${OVPN_DATA}:/etc/openvpn --rm -e "EASYRSA_BATCH=1" -e "EASYRSA_REQ_CN=CI Test CA" $${IMG} ovpn_initpki nopass'
ExecStartPre=/bin/sh -c '/usr/bin/docker run -v $${OVPN_DATA}:/etc/openvpn --rm $${IMG} easyrsa build-client-full $${CLIENT} nopass'
ExecStartPre=/bin/sh -c '/usr/bin/docker run -v $${OVPN_DATA}:/etc/openvpn --rm $${IMG} ovpn_getclient $${CLIENT} | tee $${CLIENT_DIR}/config.ovpn'

ExecStartPre=/usr/bin/docker run --name "ovpn-test" -d \
-v $${OVPN_DATA}:/etc/openvpn \
-p 1194:1194/udp \
--cap-add=NET_ADMIN $${IMG}

ExecStart=/usr/bin/docker start -a ovpn-test
ExecStop=/usr/bin/docker stop ovpn-test

ExecStopPost=/usr/bin/docker rm ovpn-test

Restart=always
RestartSec=10

[Install]
RequiredBy=nginx.service
