[Unit]
Description=Remap port 443 to 6443
Before=kubelet.service


[Service]
ExecStartPre=/sbin/iptables -t nat -A OUTPUT -m addrtype --dst-type local -p tcp --dport 443 -j DNAT --to-destination :6443
ExecStartPre=/sbin/iptables -t nat -A PREROUTING -m addrtype --dst-type local -p tcp --dport 443 -j DNAT --to-destination :6443
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
