apiVersion: metal3.io/v1alpha1
kind: Provisioning
metadata:
  name: provisioning-configuration
spec:
  provisioningIP: "{{.Baremetal.ClusterProvisioningIP}}"
  provisioningNetworkCIDR: "{{.Baremetal.ProvisioningNetworkCIDR}}"
  provisioningNetwork: "{{.Baremetal.ProvisioningNetwork}}"
  provisioningDHCPRange: "{{.Baremetal.ProvisioningDHCPRange}}"
  provisioningOSDownloadURL: "{{.ProvisioningOSDownloadURL}}"
  watchAllNamespaces: false
