kind: Secret
apiVersion: v1
metadata:
  namespace: kube-system
{{- if .CloudCreds.AWS}}
  name: aws-creds
{{- else if .CloudCreds.OpenStack}}
  name: openstack-credentials
{{- end}}
data:
{{- if .CloudCreds.AWS}}
  aws_access_key_id: {{.CloudCreds.AWS.Base64encodeAccessKeyID}}
  aws_secret_access_key: {{.CloudCreds.AWS.Base64encodeSecretAccessKey}}
{{- else if .CloudCreds.OpenStack}}
  clouds.yaml: {{.CloudCreds.OpenStack.Base64encodeCloudCreds}}
{{- end}}
