kind: ConfigMap
apiVersion: v1
metadata:
  name: metal3-configmap
  namespace: openshift-machine-api
data:
  http_port: "6180"
  provisioning_interface: {{.ProvisioningInterface}}
  provisioning_ip: "172.22.0.3/24"
  dhcp_range: "172.22.0.10,172.22.0.100"
  deploy_kernel_url: "http://172.22.0.3:6180/images/ironic-python-agent.kernel"
  deploy_ramdisk_url: "http://172.22.0.3:6180/images/ironic-python-agent.initramfs"
  ironic_endpoint: "http://172.22.0.3:6385/v1/"
  ironic_inspector_endpoint: "http://172.22.0.3:5050/v1/"
  cache_url: "http://192.168.111.1/images"
  rhcos_image_url: {{.RhcosImage}}
