apiVersion: v1
kind: Secret
metadata:
  name: vsphere-creds-cloud-controller
  namespace: kube-system
type: Opaque
data:
{{- range .CloudCreds.VSphereComponents.CloudController}}
  {{.VCenter}}.username: {{.Base64encodeUsername}}
  {{.VCenter}}.password: {{.Base64encodePassword}}
{{- end}}
