
// The file that contains the Ignition config used to configure the RHCOS based bootstrap machine.
bootstrap_ign_file = ""

// The domain of the cluster.
// All the records for the cluster are created under this domain.
// Note: This field MUST be set manually prior to creating the cluster.
cluster_domain = ""

// The number of control plane machines required.
//
// Since etcd is colocated on control plane machines, suggested number is 3 or 5.
// Default: 1
master_count = "1"

// The file that contains the Ignition config used to configure the RHCOS based control plane machines.
master_ign_file = ""

// Client certificate used to authenticate with the matchbox RPC API.
//
// For more info: https://github.com/coreos/matchbox/blob/master/Documentation/api.md
matchbox_client_cert = "matchbox/tls/client.crt"

// Client certificate's key used to authenticate with the matchbox RPC API.
//
// For more info: https://github.com/coreos/matchbox/blob/master/Documentation/api.md
matchbox_client_key = "matchbox/tls/client.key"

// HTTPS endpoint for matchbox. This must include the scheme
//
// For more info: https://github.com/coreos/matchbox/blob/master/Documentation/api.md
matchbox_http_endpoint = ""

// RPC endpoint for matchbox.
//
// For more info: https://godoc.org/github.com/coreos/matchbox/matchbox/client
matchbox_rpc_endpoint = ""

// Certificate Authority certificate to trust the matchbox endpoint.
matchbox_trusted_ca_cert = "matchbox/tls/ca.crt"

// The Project ID for Packet.net where servers will be deployed.
packet_project_id = ""

// The Packet.Net device plan slug.
packet_plan = "c1.small.x86"

// The Packet.Net facilities code(s) to be used.
packet_facility = "any"

// The UUID of the hardware reservation where you want this device deployed on Packet.net.
// The value "next-available" can also be used instead of a specific UUID. 
packet_hardware_reservation_id = ""

// The name of the public route53 zone that should be used to create DNS records for the cluster.
public_r53_zone = ""

// URL to the initrd image that should be used to PXE machines.
//
// This can be a fully-qualified URL or URL relative to matchbox_http_endpoint to use Matchbox assets (https://github.com/coreos/matchbox/blob/master/Documentation/matchbox.md#assets).
pxe_initrd_url = ""

// URL to the kernel image that should be used to PXE machines.
//
// This can be a fully-qualified URL or URL relative to matchbox_http_endpoint to use Matchbox assets (https://github.com/coreos/matchbox/blob/master/Documentation/matchbox.md#assets).
pxe_kernel_url = ""

// PXE Boot Kernel args
// Note, earlier versions of this code relied on a url via pxe_os_image_url, this has been replaced
// with arbitrary kernel arguments which can include coreos.inst.image_url
//
// For more info: https://github.com/coreos/coreos-installer#kernel-command-line-options-for-coreos-installer-running-in-the-initramfs
pxe_kernel_args = "coreos.inst.image_url=https://example.com/image.gz "

// The number of worker machines required.
//
// Default: 1
worker_count = "1"

// The file that contains the Ignition config used to configure the RHCOS based worker machines.
worker_ign_file = ""
