[Unit]
Description=Extract agent-tui at boot
After=selinux.service start-local-registry.service
Before=agent-interactive-console.service
ConditionPathExists=/etc/assisted/rendezvous-host.env
ConditionPathExists=/etc/assisted/interactive-ui

[Service]
Type=oneshot
# Temporarily load assisted-install-ui here. It was previously in agent-extract-tui.service in the
# agent-install-utils repo but that service is being removed. 
# TODO: Remove after assisted-install-ui is productized.
ExecStartPre=/bin/bash -c "podman tag $(podman load -q -i /run/media/iso/images/agent-installer-ui/agent-installer-ui.tar | awk '{print $NF}') localhost/agent-installer-ui:latest"
ExecStart=/usr/local/bin/agent-extract-tui.sh
TimeoutStartSec=0

[Install]
WantedBy=getty@tty1.service
