[Unit]
Description=Extract agent-tui at boot
After=selinux.service start-local-registry.service
Before=agent-interactive-console.service
ConditionPathExists=/etc/assisted/rendezvous-host.env
ConditionPathExists=/etc/assisted/interactive-ui

[Service]
Type=oneshot
ExecStart=/usr/local/bin/agent-extract-tui.sh
TimeoutStartSec=5m

[Install]
WantedBy=getty@tty1.service
