[Unit]
Description=service that displays a message if auth tokens are expired.
Wants=network-online.target
After=network-online.target agent-interactive-console.service
ConditionPathExists=/etc/assisted/add-nodes.env

[Service]
Type=simple
EnvironmentFile=/etc/assisted/add-nodes.env
ExecStart=/usr/local/bin/agent-auth-token-status.sh
Restart=no

[Install]
WantedBy=agent-add-node.service
