[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitInterval=0
TimeoutStartSec=3000
EnvironmentFile=/etc/assisted/rendezvous-host.env
ExecStartPre=/usr/local/bin/extract-agent.sh
ExecStart=/usr/local/bin/start-agent.sh

[Unit]
Description=Assisted Installer Agent
Wants=network-online.target set-hostname.service
After=network-online.target set-hostname.service

[Install]
WantedBy=multi-user.target
