[Unit]
Description=Adds the current node to an already existing cluster
Wants=network-online.target
Requires=apply-host-config.service
Conflicts=start-cluster-installation.service
PartOf=assisted-service-pod.service
After=network-online.target apply-host-config.service
ConditionPathExists=/etc/assisted/node0
ConditionPathExists=/etc/assisted/add-nodes.env

[Service]
EnvironmentFile=/usr/local/share/assisted-service/assisted-service.env
EnvironmentFile=/usr/local/share/start-cluster/start-cluster.env
EnvironmentFile=/etc/assisted/rendezvous-host.env
ExecStartPre=/usr/local/bin/wait-for-assisted-service.sh
ExecStart=/usr/local/bin/add-node.sh

KillMode=none
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
