[Unit]
Description=Get interactive user configuration at boot
After=dev-fb0.device network-pre.target NetworkManager.service pre-network-manager-config.service selinux.service agent-extract-tui.service
Before=getty@tty1.service network.target network.service agent.service node-zero.service NetworkManager-wait-online.service
ConditionPathExists=/usr/local/bin/agent-tui
ConditionPathExists=/dev/fb0
ConditionPathExists=!/etc/assisted/node0

[Service]
Type=oneshot
TTYPath=/dev/tty15
EnvironmentFile=/etc/assisted/agent-installer.env
Environment=LD_LIBRARY_PATH=/usr/local/bin/
Environment=AGENT_TUI_LOG_PATH=/var/log/agent/agent-tui.log
ExecStartPre=/usr/bin/kill -s SIGRTMIN+21 1
ExecStartPre=/usr/bin/chvt 15
ExecStartPre=mkdir -p /var/log/agent
ExecStart=/usr/local/bin/agent-tui
ExecStopPost=/usr/bin/chvt 1
ExecStopPost=/usr/bin/kill -s SIGRTMIN+20 1
TimeoutStartSec=0
StandardInput=tty
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=getty@tty1.service
