[Unit]
Description=Service that applies host-specific configuration
Wants=network-online.target
Requires=create-cluster-and-infraenv.service
PartOf=assisted-service-pod.service
After=network-online.target create-cluster-and-infraenv.service
ConditionPathExists=/etc/assisted-service/node0

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=SERVICE_BASE_URL={{.ServiceBaseURL}}
Environment=INFRA_ENV_ID={{.InfraEnvID}}
EnvironmentFile=/usr/local/share/assisted-service/agent-images.env
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStartPre=/bin/mkdir -p %t/agent-installer /etc/assisted/hostconfig
ExecStartPre=/usr/local/bin/wait-for-assisted-service.sh
ExecStart=podman run --net host --cidfile=%t/%n.ctr-id --cgroups=no-conmon --log-driver=journald --restart=on-failure:10 --pod-id-file=%t/assisted-service-pod.pod-id --replace --name=apply-host-config -v /etc/assisted/hostconfig:/etc/assisted/hostconfig -v %t/agent-installer:/var/run/agent-installer:z --env SERVICE_BASE_URL --env INFRA_ENV_ID $SERVICE_IMAGE /usr/local/bin/agent-installer-client configure
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

KillMode=none
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
