[Unit]
Description=OpenShift Assisted Installation Service
Wants=network-online.target node-zero.service
After=network-online.target node-zero.service
ConditionPathExists=/etc/assisted-service/node0

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/usr/local/bin/start-assisted-service.sh
ExecStop=/bin/podman pod stop --ignore assisted-service -t 10
ExecStopPost=/bin/podman pod rm --ignore assisted-service

Restart=on-failure
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target
