[Unit]
Description=Assisted Service pod
Wants=network.target node-zero.service
After=network-online.target node-zero.service
ConditionPathExists=/etc/assisted/node0
RequiresMountsFor=
Requires=assisted-service-db.service assisted-service.service
Before=assisted-service-db.service assisted-service.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStartSec=500
TimeoutStopSec=70
RestartSec=10
ExecStartPre=/bin/rm -f %t/%n.pid %t/%N.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/%n.pid --pod-id-file %t/%N.pod-id -n assisted-service
ExecStartPre=/usr/local/bin/get-container-images.sh
ExecStart=/usr/bin/podman pod start --pod-id-file=%t/%N.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file=%t/%N.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f assisted-service
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target
