[Unit]
Description=Agent-based installer hostname update service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/set-hostname.sh

KillMode=none
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target