// Set to true once the bootstrapping is complete. The bootstrap machine will be destroyed if this variable is set to "true".
//bootstrap_complete = true

// The IP address of the bootstrap node.
// If using the dev vSphere cluster, this IP will be in the 139.178.89.192/26 block.
//bootstrap_ip = "139.178.89.xxx"

// The IP addresses of the control plan nodes.
// If using the dev vSphere cluster, this IP will be in the 139.178.89.192/26 block.
//control_plane_ips = ["139.178.89.xxx","139.178.89.xxx","139.178.89.xxx"]

// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "example-cluster"

// Domain of the cluster. This should be "${cluster_id}.${base_domain}".
cluster_domain = "example-cluster.devcluster.openshift.com"

// Base domain from which the cluster domain is a subdomain.
base_domain = "devcluster.openshift.com"

// Set extra users helpful for logging into the machines from the vSphere web UI.
//extra_user_names = ["me"]
//extra_user_password_hashes = ["$1$d51URPHU$NQGWywqfyGHYJrKK7GsOQ1"]

// Name of the vSphere server. The dev cluster is on "vcsa.vmware.devcluster.openshift.com".
vsphere_server = "vcsa.vmware.devcluster.openshift.com"

// User on the vSphere server.
vsphere_user = "YOUR_USER"

// Password of the user on the vSphere server.
vsphere_password = "YOUR_PASSWORD"

// Name of the vSphere cluster. The dev cluster is "devel".
vsphere_cluster = "devel"

// Name of the vSphere data center. The dev cluster is "dc1".
vsphere_datacenter = "dc1"

// Name of the vSphere data store to use for the VMs. The dev cluster uses "nvme-ds1".
vsphere_datastore = "nvme-ds1"

// Name of the VM template to clone to create VMs for the cluster. The dev cluster has templates named "rhcos-latest" and "rhcos-davis-no-ig".
// The "rhcos-latest" template is a recent version of rhcos. There is an issue running the journald gateway on the bootstrap machine with the rhel8 rchos.
// If you want to use the latest rhcos, you should remove the systemd-journal-gatewayd systemd units from the bootstrap ignition config for the
// time being.
// The "rhcos-davis-no-ig" template is a rhel7 rchos.
vm_template = "rhcos-davis-no-ig"

// URL of the bootstrap ignition. This needs to be publicly accessible so that the bootstrap machine can pull the ignition.
bootstrap_ignition_url = "URL_FOR_YOUR_BOOTSTRAP_IGNITION"

// Ignition config for the control plane machines. You should copy the contents of the master.ign generated by the installer.
control_plane_ignition = <<END_OF_MASTER_IGNITION
Copy the master ignition generated by the installer here.
END_OF_MASTER_IGNITION

// Ignition config for the compute machines. You should copy the contents of the worker.ign generated by the installer.
compute_ignition = <<END_OF_WORKER_IGNITION
Copy the worker ignition generated by the installer here.
END_OF_WORKER_IGNITION

