apiVersion: config.openshift.io/v1
kind: ClusterVersion
metadata:
  namespace: openshift-cluster-version
  name: version
spec:
  upstream: http://localhost:8080/graph
  channel: fast
  clusterID: {{.CVOClusterID}}
  overrides:
  - kind: APIService                    # packages.apps.redhat.com fails to start properly
    name: v1alpha1.packages.apps.redhat.com
    unmanaged: true
