apiVersion: v1
kind: Endpoints
metadata:
  name: host-etcd
  namespace: openshift-etcd
  annotations:
    alpha.installer.openshift.io/dns-suffix: {{.EtcdEndpointDNSSuffix}}
subsets:
- addresses:
{{- range $idx, $member := .EtcdEndpointHostnames }}
  - hostname: {{ $member }}
    ip: 192.0.2.{{ add $idx 1 }}

{{- end }}
  ports:
  - name: etcd
    port: 2379
    protocol: TCP
