apiVersion: v1
kind: Secret
metadata:
  name: etcd-metric-client
  namespace: openshift-config
type: kubernetes.io/tls
data:
  tls.crt: {{ .EtcdMetricSignerClientCert }}
  tls.key: {{ .EtcdMetricSignerClientKey }}
