apiVersion: v1
kind: Secret
metadata:
  name: internal-release-image-tls
  namespace: openshift-machine-config-operator
  annotations:
    openshift.io/description: Secret containing the InternalReleaseImage registry TLS certificate and key
    openshift.io/owning-component: Machine Config Operator
  labels:
    auth.openshift.io/managed-certificate-type: target
type: kubernetes.io/tls
data:
  tls.crt: {{.IriTLSCert}}
  tls.key: {{.IriTLSKey}}
