apiVersion: v1
kind: Secret
metadata:
  name: internal-release-image-registry-auth
  namespace: openshift-machine-config-operator
  annotations:
    openshift.io/description: Secret containing the InternalReleaseImage registry authentication credentials
    openshift.io/owning-component: Machine Config Operator
type: Opaque
data:
  htpasswd: {{.IriRegistryHtpasswd}}
  password: {{.IriRegistryPassword}}
