apiVersion: clusterversion.openshift.io/v1
kind: CVOConfig
metadata:
  namespace: openshift-cluster-version
  name: cluster-version-operator
upstream: http://localhost:8080/graph
channel: fast
clusterID: {{.CVOClusterID}}
overrides:
- kind: APIService                    # packages.apps.redhat.com fails to start properly
  name: v1alpha1.packages.apps.redhat.com
  unmanaged: true
