apiVersion: v1
kind: Secret
metadata:
  name: machine-config-server-tls
  namespace: openshift-machine-config-operator
  annotations:
    openshift.io/owning-component: "Machine Config Operator"
type: Opaque
data:
  tls.crt: {{.McsTLSCert}}
  tls.key: {{.McsTLSKey}}
