apiVersion: v1
kind: Secret
metadata:
  name: service-ca-signing-key
  namespace: openshift-service-ca-operator
type: kubernetes.io/tls
data:
  tls.crt: {{.ServiceServingCaCert}}
  tls.key: {{.ServiceServingCaKey}}
