apiVersion: v1
kind: Secret
type: Opaque
metadata:
  namespace: openshift-machine-config-operator
  name: ignition-auth
data:
  master: {{.IgnitionAuthMasterBase64}}
  worker: {{.IgnitionAuthWorkerBase64}}
