apiVersion: v1
kind: Secret
metadata:
  name: etcd-metrics-client
  namespace: openshift-config
type: SecretTypeTLS
data:
  tls.crt: {{ .EtcdMetricsClientCert }}
  tls.key: {{ .EtcdMetricsClientKey }}
